<div *ngIf="!book" class="body">
<h4>Chargement ...</h4>
</div>
<div *ngIf="book" class="body">
  {{ bookId }}
  <h2>Détails Livres</h2>
  <section>
    <div class="card">
      <div class="card-title"><h3>{{ book.title }}</h3></div>
      <div class="card-autor"><h3>{{ book.autor }}</h3></div>
      <div class="card-img">
        <img
          src="../../assets/img/book/les_miserables.jpg"
          alt="couverture du livre"
        />
      </div>
      <div class="card-description">
        <p class="description">{{ book.description }}</p>
      </div>
      <button (click)="onSubmit(book.id)" class="card-button">
        Reserver le livre
      </button>
      <div *ngIf="book.isReserved">
        <img class="icon-dispo" src="../../assets/img/icons8-cross-mark-button-48.png">Non-disponible
      </div>
      <div *ngIf="!book.isReserved">
        <img class="icon-dispo" src="../../assets/img/icons8-case-cochée-48.png">Disponible
      </div>
    </div>
  </section>
</div>
