<header>
  <nav>
    <ul>
      <li>
        <h1>
          <a routerLink="/">Accueil</a>
        </h1>
      </li>
      <li>
        <h1>
          <a routerLink="/list-books">Liste Livres</a>
        </h1>
      </li>
      <li>
        <h1>
          <a routerLink="#">Service Numérique</a>
        </h1>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
<footer>
  <div class="footer-section rubrique">
    <h3>Rubrique</h3>
    <ul>
      <li>Nouveautés</li>
      <li>Horaires et Fermetures</li>
      <li>Les Coups de Cœur 2022</li>
      <li>Nos Sélections Thématiques</li>
      <li>Prix des Lecteurs 2023</li>
    </ul>
  </div>
  <hr class="vertical" />

  <div class="footer-section suivez-nous">
    <h3>Suivez-nous</h3>
    <ul>
      <li>Twitter</li>
      <li>Facebook</li>
      <li>Github</li>
    </ul>
  </div>
  <hr class="vertical" />

  <div class="footer-section les-plus-consultes">
    <h3>Les + Consultés</h3>
    <ul>
      <li>Les Nouveautés</li>
      <li>Horaires et Fermetures</li>
      <li>Les Coups de Cœur 2022</li>
      <li>Nos Sélections Thématiques</li>
      <li>Prix des Lecteurs 2023</li>
      <li>Numok</li>
      <li>Vos Derniers Commentaires</li>
    </ul>
  </div>
</footer>
