@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
// font-family: 'Lobster Two', cursive;
// font-family: 'Pacifico', cursive;

:root {
  --color1: #E5E7E6;
  --color2: #EEE6D8;
  --color3: #DAAB3A;
  --color4: #B67332;
  --color5: #6e3415;
  --color-text-dark: #141414;
  --color-text-light: #ffffff;
  --color-text-dark-hover: #8f8f8f;
  --color-text-light-hover: #5e5e5e;

}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color5);
  color: var(--color-text-dark);
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}



button.card-button {
  background-color: var(--color4);
  color: var(--color1);
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

button.card-button:hover {
  background-color: var(--color5);
}

.nav li a {
  color: var(--color1);
}

.nav li a:hover {
  color: var(--color4);
}

.card {
  //background-color: var(--color1);
 // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  //border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .card:hover {
//   box-shadow: 0 5px 15px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
// }

.card img {
  width: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-text-dark);
  margin: 10px 0;
}

.card-description {
  font-size: 14px;
  color: var(--color-text-dark);
  margin-bottom: 10px;
}
