@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Pacifico&display=swap");
:root {
  --color1: #E5E7E6;
  --color2: #EEE6D8;
  --color3: #DAAB3A;
  --color4: #B67332;
  --color5: #93441A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

nav {
  background-color: var(--color5);
  color: var(--color4);
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--color4);
}

nav li a h1:hover {
  color: #DAAB3A;
}

.fp {
  justify-content: space-between;
  width: auto;
  display: flex;
  flex-direction: row;
}

.card {
  margin: 15px;
  box-shadow: 0 0 3px 0;
}

.card-img {
  width: 100%;
}

.card-title {
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.card-description {
  padding: 5px !important;
  margin: 5px !important;
  justify-content: start;
}

button.card-button {
  padding: 5px 5px 5px 5px;
}

.card-button {
  width: 100%;
}

.size-30 {
  width: 30%;
}

h1 {
  font-family: 'Lobster Two', cursive;
  color: var(--color1);
  letter-spacing: 2px;
}

h2 {
  letter-spacing: 1.5px;
  font-family: 'Pacifico', cursive;
  color: var(--color3);
}

section {
  width: 100%;
  background-color: var(--color2);
}
