:root {
  --color1: #e5e7e6;
  --color2: #eee6d8;
  --color3: #daab3a;
  --color4: #b67332;
  --color5: #93441a;
}
* {
  // box-shadow: 0 0 0 3px red inset;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
section {
  margin-top: 20px;
  padding-bottom: 20px;
}

// Style de la card generale
.fp {
  justify-content: center;
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border:1px solid black;
  margin: 15px;
  box-shadow: 0 0 3px 0;
}
img.card-img {
  float: right;
  width: 7em;
}
.card-title {
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  font-size: large;
  font-weight: bold;
  display: flex;
  align-content: flex-start;
}
.card-description {
  width: 35%;
  float: left;
  padding: 5px !important;
  margin: 5px !important;
  justify-content: start;
}
button.card-button {
  background: linear-gradient(0deg, #DAAB3Aff, #B7782Aff, #93441Aff);
  color:var(--color1);
  margin: 5px 5px 5px 10px;
  width: 50%;
  border-radius: 15px;
}
button.card-button:hover {
  transform: scale(1.05);
}
.size-30 {
  width: 30%;
}
h1 {
  @font-face {
    font-family: "burlington";
    src: url(./assets/fonts/SFBurlingtonScriptSC-Bold.ttf);
  }
  font-family: burlington;
  color: var(--color1);
  letter-spacing: 2px;
  font-size: 220%;
}
h2 {
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  @font-face {
    font-family: "blacksword";
    src: url(./assets/fonts/GDPU.ttf);
  }
  font-weight: bolder;
  font-size: 170% ;
  font-family: blacksword;
  color: var(--color3);
}
h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h4 { //  chargement
  letter-spacing: 2px;
}
section {
  width: 100%;
  background-color: var(--color2);
}
// ************Scollbar*************
body::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-track {
  background:#daab3aff;
}
body::-webkit-scrollbar-thumb {
  background-color: #93441aff;
  border-radius: 20px;
  border: 3px solid #eee6d8;
}
