<title>Bibliothèque</title>

<body>
  <section>
    <h2 class="ala1">A la Une</h2>

    <!-- src="https://media.senscritique.com/media/000006655127/300/les_fleurs_du_mal.jpg" -->

    <!-- src="https://media.senscritique.com/media/000007143411/300/l_etranger.jpg" -->

    <!-- src="https://media.senscritique.com/media/000020245094/300/les_miserables.jpg" -->

    <div class="fp">
      <div *ngFor="let book of bookList" class="card size-30">
        <img [src]="book.url" class="card-img" alt="Couverture du livre" />
        <div class="card-title">
          {{ book.title }}
        </div>
        <div class="card-description">
          {{ book.description }}
        </div>
        <button [routerLink]="['detail-book/', book.id]" class="card-button">
          Détails du livre
        </button>
      </div>
    </div>
  </section>

  <section>
    <h2>Coup de Cœur</h2>
    <div class="coup-de-coeur-livre">
      <img src="../../assets/img/book/L'Étranger_-_Albert_Camus.jpg" alt="Couverture du livre 1" />
      <h3>Livre 1</h3><!-- {{ book.title }} -->
       <p><!--{{ book.description }} -->
        Synopsis du livre 1.Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Esse ullam, veniam necessitatibus ad deleniti aliquam placeat
        dignissimos cum facere quasi nihil illum eligendi similique magnam
      </p>
    </div>
    <div class="coup-de-coeur-livre">
      <img src="../../assets/img/book/les_miserables.jpg" alt="Couverture du livre 2" />
      <h3>Livre 2</h3><!-- {{ book.title }} -->
      <p><!--{{ book.description }} -->
        Synopsis du livre 2. Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Esse ullam, veniam necessitatibus ad deleniti aliquam placeat
        dignissimos cum facere quasi nihil illum eligendi similique magnam.
      </p>
    </div>
  </section>

  <section>
    <h2>Commentaires des Lecteurs</h2>

    <div class="commentaire-lecteur">
      <h3>Livre 1</h3>
      <p>
        Commentaire du lecteur 1. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Ullam quo quos ad iste corporis, labore aliquam
        suscipit consequatur dolores quibusdam.
      </p>
    </div>
    <div class="commentaire-lecteur">
      <h3>Livre 2</h3>
      <p>
        Commentaire du lecteur 2. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Ut pariatur animi optio, laborum libero perferendis?
        Officiis sapiente ullam voluptas quam?
      </p>
    </div>
  </section>

  <footer>
    <div class="rubrique">
      <h3>Rubrique</h3>
      <ul>
        <li>Nouveautés</li>
        <li>Horaires et Fermetures</li>
        <li>Les Coups de Cœur 2022</li>
        <li>Nos Sélections Thématiques</li>
        <li>Prix des Lecteurs 2023</li>
      </ul>
    </div>
    <div class="les-plus-consultes">
      <h3>Les + Consultés</h3>
      <ul>
        <li>Les Nouveautés</li>
        <li>Horaires et Fermetures</li>
        <li>Les Coups de Cœur 2022</li>
        <li>Nos Sélections Thématiques</li>
        <li>Prix des Lecteurs 2023</li>
        <li>Numok</li>
        <li>Vos Derniers Commentaires</li>
      </ul>
    </div>
    <div class="suivez-nous">
      <h3>Suivez-nous</h3>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li><a href="https://github.com/DdLgc">Github</a></li>
      </ul>
    </div>


  </footer>
</body>
