<title>Bibliothèque</title>
<body>
  <section class="hero">
    <div class="typedText" id="typedtext"></div>
    <img
      src="../../assets/img/hero/will-van-wingerden-dsvJgiBJTOs-unsplash.jpg"
      alt="hero"
    />
  </section>
  <section>
    <h2 class="ala1">A la Une</h2>
    <div class="fp">
      <div *ngFor="let book of bookList" class="card size-30">
        <img [src]="book.url" class="card-img" alt="Couverture du livre" />
        <div class="card-title">
          <h3>{{ book.title }}</h3>
        </div>
        <div class="card-description">
          {{
            book.description.length > 90
              ? (book.description | slice : 0 : 90) + ".."
              : book.description
          }}
        </div>
        <button [routerLink]="['detail-book/', book.id]" class="card-button">
          Détails du livre
        </button>
      </div>
    </div>
  </section>

  <section>
    <h2>Coup de Cœur</h2>
    <div class="coup-de-coeur-livre">
      <img
        src="../../assets/img/book/L'Étranger_-_Albert_Camus.jpg"
        alt="Couverture du livre 1"
      />
      <h3>Livre 1</h3>
      <!-- {{ book.title }} -->
      <p>
        <!--{{ book.description }} -->
        Synopsis du livre 1 Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Cupiditate, autem aspernatur quibusdam iure quidem corporis dicta
        consequuntur? Tempora pariatur dolores cum nemo culpa. Nobis, fugit
        sint! Quasi nihil voluptas fugiat debitis suscipit odio culpa molestiae?
      </p>
    </div>
    <div class="coup-de-coeur-livre">
      <img
        src="../../assets/img/book/les_miserables.jpg"
        alt="Couverture du livre 2"
      />
      <h3>Livre 2</h3>

      <p>
        Synopsis du livre 2. Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Earum assumenda dolores beatae nobis atque, distinctio molestiae
        quo! Sapiente omnis provident voluptatibus, non numquam, ab placeat
        fugiat libero pariatur facere facilis aperiam modi. Reiciendis, sapiente
        delectus.
      </p>
    </div>
  </section>

  <section>
    <h2>Commentaires des Lecteurs</h2>
    <div class="commentaire-lecteur">
      <img src="../../assets/img/user/icons8-utilisateur-64 (1).png" alt=""><h5>Martine Ouvrard</h5>
      <h3>Livre 1</h3>
      <p>
        "J'ai été très déçu par le livre 'Franklin apprend a faire ses lacets'. Malgré les bonnes critiques que j'avais lues, je l'ai trouvé ennuyeux et difficile à suivre. L'intrigue était confuse, avec trop de personnages et de sous-intrigues qui se chevauchaient sans réelle cohérence. De plus, le style d'écriture était lourd et pompeux, ce qui rendait la lecture encore plus laborieuse. J'ai abandonné à mi-chemin, car je n'arrivais tout simplement pas à m'investir dans l'histoire. Ce livre n'était tout simplement pas à la hauteur de mes attentes."
      </p>
    </div>
    <div class="commentaire-lecteur">
      <img src="../../assets/img/user/icons8-utilisateur-64.png" alt=""><h5>Paul Mercier</h5>
      <h3>Livre 2</h3>
      <p>
        "Le livre 'Les énigmes de l'esprit' est tout simplement captivant ! L'auteur a réussi à mêler habilement mystère, philosophie et psychologie dans une intrigue qui vous tient en haleine du début à la fin. Les personnages sont bien développés et l'intrigue est complexe, avec de nombreux rebondissements inattendus. J'ai adoré la façon dont le livre explore les méandres de l'esprit humain et nous pousse à réfléchir sur la nature de la réalité. Une lecture profonde et stimulante, je le recommande vivement à tous les amateurs de romans intellectuellement stimulants."
      </p>
    </div>
  </section>
</body>
