<title>Bibliothèque</title>
<body>
  <section class="hero">
    <div class="typedText" id="typedtext">Bienvenue à la Bibliothèque des vieux livres,<br>
            vieux vieux, tout depend lesquelles</div>
    <img
      src="../../assets/img/hero/will-van-wingerden-dsvJgiBJTOs-unsplash.jpg"
      alt="hero"
    />
  </section>
  <section>
    <h2 class="ala1">A la Une</h2>
    <div class="fp">
      <div *ngFor="let book of bookList" class="card size-30">
        <img [src]="book.url" class="card-img" alt="Couverture du livre" />
        <div class="card-title">
          <h3>{{ book.title }}</h3>
        </div>
        <div class="card-description">
          {{
            book.description.length > 90
              ? (book.description | slice : 0 : 90) + ".."
              : book.description
          }}
        </div>
        <button [routerLink]="['detail-book/', book.id]" class="card-button">
          Détails du livre
        </button>
      </div>
    </div>
  </section>

  <section>
    <h2>Coup de Cœur</h2>
    <div class="coup-de-coeur-livre">
      <img
        src="../../assets/img/book/L'Étranger_-_Albert_Camus.jpg"
        alt="Couverture du livre 1"
      />
      <h3>Livre 1</h3>
      <!-- {{ book.title }} -->
      <p>
        <!--{{ book.description }} -->
        Synopsis du livre 1 Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Cupiditate, autem aspernatur quibusdam iure quidem corporis dicta
        consequuntur? Tempora pariatur dolores cum nemo culpa. Nobis, fugit
        sint! Quasi nihil voluptas fugiat debitis suscipit odio culpa molestiae?
      </p>
    </div>
    <div class="coup-de-coeur-livre">
      <img
        src="../../assets/img/book/les_miserables.jpg"
        alt="Couverture du livre 2"
      />
      <h3>Livre 2</h3>

      <p>
        Synopsis du livre 2. Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Earum assumenda dolores beatae nobis atque, distinctio molestiae
        quo! Sapiente omnis provident voluptatibus, non numquam, ab placeat
        fugiat libero pariatur facere facilis aperiam modi. Reiciendis, sapiente
        delectus.
      </p>
    </div>
  </section>

  <section>
    <h2>Commentaires des Lecteurs</h2>
    <div class="commentaire-lecteur">
      <h3>Livre 1</h3>
      <p>
        Commentaire du lecteur 1. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Ullam quo quos ad iste corporis, labore aliquam
        suscipit consequatur dolores quibusdam.
      </p>
    </div>
    <div class="commentaire-lecteur">
      <h3>Livre 2</h3>
      <p>
        Commentaire du lecteur 2. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Ut pariatur animi optio, laborum libero perferendis?
        Officiis sapiente ullam voluptas quam?
      </p>
    </div>
  </section>
</body>
