.hero {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: inline;
}
.hero img {
  width: 100%;
  height: 99.5vh;
}
// .typedText {
//   font-family: cursive;
//   margin: 10px 50px;
//   letter-spacing: 6px;
//   z-index: 100;
//   position:absolute;
//   left: 10%;
//   top: 50%;
//   font-size: large;
//   font-weight: bold;
//   color: rgb(255, 255, 255);
// }
section {
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.coup-de-coeur {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.coup-de-coeur-livre {
  border-radius: 10px;
  width: 95%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
}
.coup-de-coeur-livre img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.coup-de-coeur-livre h3 {
  margin-bottom: 5px;
}
.coup-de-coeur-livre p {
  float: right;
  font-size: 14px;
  line-height: 1.4;
}
.commentaire-lecteur {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  margin: 15px;
  border-radius: 10px;
}
.commentaire-lecteur {
  padding: 10px;
  background-color: #f2f2f2;
}
.commentaire-lecteur img{

  padding: 10px;
  background-color: var(--color3);
  border-radius: 50%;
}
.commentaire-lecteur h3 {
  margin-bottom: 5px;
}
.commentaire-lecteur h5 {
  margin-bottom: 5px;
}
.commentaire-lecteur p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  grid-template: 2 100%;
  font-size: 14px;
  line-height: 1.4;
}

